body {
    background-image: url('assets/bg.png'); /* Set the background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.header {
    position: fixed;
    color: #000;
    padding: 30px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 48px;
    text-align: center;
    top: 0%;
}

.container {
    margin: 20px;
    padding: 20px;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="tel"] {
    padding: 10px;
    margin: 10px 0;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#next-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-container {
    position: fixed;
    bottom: 30px; /* Adjust this value as needed to control the vertical position */
    right: 10px; /* Adjust this value as needed to control the horizontal position */
    z-index: 100; /* Use a high z-index to ensure it appears on top of other content */
}

.image-container img {
    width: 100px; /* Adjust the width of the image as needed */
    height: auto; /* Automatically adjust the height to maintain the image's aspect ratio */
}

.registration-form label,
.registration-form input {
    display: block;
    margin: 10px;
    color: #000;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(215, 215, 215, 0.571);/* Adjust the last value (0.5) to control the transparency (0 = fully transparent, 1 = fully opaque) */
    pointer-events: none; /* Allows interaction with elements below the overlay */
    z-index: -1; /* Position the overlay behind other content */
}

.ending{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 90;
    text-align: right;
    font-size: 10px;
}